<esn-article
  [title]="'Schroff Stiftungen – Supporting Exchange Students'"
  [grayBox]="true"
>
  <figure class="pl-0 lg:pl-8 pb-2 pr-0 pt-0 top-0 lg:float-right w-1/3 m-auto text-center">
    <a href="https://www.schroff-stiftungen.de/" rel="noopener noreferrer" target="_blank" class="block hover:underline logo-link">
      <img src="../../../assets/logo/logo_schroff_stiftungen_logo-removebg.png"
           alt="Schroff Stiftungen Logo" class="pb-2 w-auto h-auto max-w-full mx-auto" />
      <p class="mt-2 text-sm text-gray-600">Schroff Stiftungen</p>
    </a>
  </figure>

  <p>
    We extend our heartfelt gratitude to the <strong>Schroff Foundation</strong> for their generous support of our mission to
    integrate international students and foster cultural exchange.
  </p>

  <p>
    Founded in 1984 by <strong>Ingrid and Gunther Schroff</strong>, the foundation has long been committed to
    education and social initiatives. Their support, including funding for student housing like the
    <a href="https://www.kit.edu/kit/english/pi_2022_025_new-student-residence-of-schroff-foundations-ready-for-use.php"
       rel="noopener noreferrer" target="_blank" class="text-esn-dark-blue hover:underline">Schroff Kolleg</a>,
    has enriched student life in Karlsruhe, providing affordable accommodation near the Karlsruhe Institute of Technology (KIT).
  </p>

  <p>
    Their dedication to educational excellence and communities aligns perfectly with our values, and we are honored to recognize
    their invaluable contribution.
  </p>

</esn-article>
